$success-color: #59c97e;
$danger-color: #f56c6c;
$warning-color: #f68b39;
$primary-color: #00a8e2;
$sidebar-color: #465363;
$main-color: #f3f6f8;
$white: #ffffff;
$black: #011837;

$spacings: (
  x05: 4px,
  x1: 8px,
  x2: 16px,
  x3: 24px,
  x4: 30px,
  x5: 38px,
  x6: 46px,
  x7: 54px,
);